@using System.Collections

<EditForm class="form-group" Model="@items">
    <div class="form-group">
        <label class="control-label col-sm-2" style="padding-top:0.5em;">@Caption</label>
        <select class="form-control col-4" @onchange="SetResponseValue">
            @foreach (MetaItemModel r in items)
            {
                <option value=@r.ItemId>@r.ItemText</option>
            }
            </select>
    </div>
</EditForm>

@code {

    [Parameter]
    public string Caption { get; set; }

    [Parameter]
    public List<MetaItemModel> items { get; set; }

    protected DictionaryEntry resp { get; set; }

    [Parameter]
    public EventCallback<DictionaryEntry> respChanged { get; set; }

    private void SetResponseValue(ChangeEventArgs e)
    {
        DictionaryEntry de = new DictionaryEntry(Caption, e.Value);
        resp = de;
        respChanged.InvokeAsync(resp);
    }
}
