@using System.Collections

<EditForm class="form-group" Model="@items">
    <div class="form-group">
        <label class="control-label col-sm-3" style="margin:0px;padding:0px;">@Caption</label>
        @* Remove custom-control-inline to move ddl to the next line*@
        <select class="form-control col-sm-4 custom-control-inline" style="padding:0px 15px;" @onchange="SetResponseValue">

            <option value="-1"></option>
            @foreach (MetaItemModel r in items)
            {
                <option value=@r.ItemId>@r.ItemText</option>
            }
        </select>
    </div>
</EditForm>

@code {

    [Parameter]
    public string Caption { get; set; }

    [Parameter]
    public List<MetaItemModel> items { get; set; }

    protected DictionaryEntry resp { get; set; }

    [Parameter]
    public EventCallback<DictionaryEntry> respChanged { get; set; }

    private void SetResponseValue(ChangeEventArgs e)
    {
        DictionaryEntry de = new DictionaryEntry(Caption, e.Value);
        resp = de;
        respChanged.InvokeAsync(resp);
    }
}
